@import "variables.scss";

.Ikimono{
    .keyvisual{
        background-image:url(../img/ikimonokey.jpg);
        
            /*--スクロールをさせるため 高さ指定--*/
            background-size: cover;
            /*--背景画像のサイズ--*/
            background-attachment: fixed;
            /*--背景画像の固定--*/
            background-repeat: no-repeat;
            /*--背景画像の繰り返し--*/
            background-position: center center;
            /*--背景画像の位置--*/
        }
    h1{
        padding-top: 30%;
        color: $base-white;

    }
    .summary{

        width: 70%;
        margin: 0 auto;
    h2{
        text-align: left;
    }
    dl{
        font-size: 1.5vw;
        margin: 3% 0;
        display: flex;
        // align-items: baseline
        align-items: flex-end;
        dt{
            font-weight: bold;
            margin-right: 1%;
        }
    }
    p{
        margin: 5% 0 10% 0 ;
    }
}}