@use "mixin" as m;
@import "variables.scss";
.Sport{
    .keyvisual{
        background-image:url(../img/sportkey.jpg);
        
            /*--スクロールをさせるため 高さ指定--*/
            background-size: 100%;
            /*--背景画像のサイズ--*/
            background-attachment: fixed;
            /*--背景画像の固定--*/
            background-repeat: no-repeat;
            /*--背景画像の繰り返し--*/
            // background-position: center center;
            /*--背景画像の位置--*/
            @include m.mq(tab) {
                background-size: 130%;
                }
                @include m.mq(sp) {
                background-size: 220%;
                background-position: center 0px;
                    }
        }
    h1{
        padding-top: 30%;
        color: $base-white;
        @include m.mq(tab) {
            padding-top: 50%;
            }
            @include m.mq(sp) {
                padding-top:80%;
                            }
    }
    .summary{

    //     h2{
    //         display: inline-block;
    //         text-align: left;

    //         span{
    //             font-size: 1.5vw;
    //         }
        
    // }
        @include m.mq(tab) {
            width: 80%;
                    }

        .mockup{
            margin: 5% 0;
            display: flex;
            justify-content: space-between;
            
        }

    }
}