@import "variables.scss";
.Sport{
    h1{
        padding-top: 30%;
    }
    .summary{

        h2{
            display: inline-block;
            text-align: left;

            span{
                font-size: 1.5vw;
            }
        
    }

        width: 65%;
        margin: 0 auto;;
        dl{
            font-size: 1.5vw;
            margin: 3% 0;
            display: flex;
            // align-items: baseline
            align-items: flex-end;
            dt{
                font-weight: bold;
                margin-right: 1%;
            }
        }
        p{
            margin: 5% 0 10% 0 ;
        }
        .mockup{
            margin: 5% 0;
            display: flex;
            justify-content: space-between;
            
        }

    }
}